# macOS
.DS_Store
**/.DS_Store

# Backups y zips
*.zip

# Editor
.vscode/
.idea/

# Local env
.env
.env.local

# Node
node_modules/
functions/node_modules/

# Firebase Functions Local Config
functions/.runtimeconfig.json
